# Python
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd

# Entorno virtual
.venv/
venv/
.env

# Configuración de IDE
.idea/
.vscode/

# Archivos del sistema
.DS_Store

# Otros comunes
*.log
*.json
*.csv
